.body 
{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
    background-color: rgb(82, 82, 82);
}

.page-header_nav-link
{
    margin: 0 25px; /*Отступы между словами*/
    color: rgb(255, 202, 102);/*Цвет текста*/
    font-weight: 600;/*Ширина текста*/
    font-size: 18px;/*Размер текста*/
    line-height: 50px;/* Отступ от верха*/
    text-decoration: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> 4d0bc943192087630729ad82174e179d5aff3fd7
